header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  margin-top: 92px;
  margin-bottom: 90px;
  /*min-height: 293px;*/
}

.header__menu {
  margin-left: 5.2px;
  margin-bottom: 8px;
}
.header__links-list {
  display: flex;
  gap: 33px;
  justify-content: center;
  list-style: circle;
  font-weight: 400;
  font-size: 18px;
  text-underline-offset: 4px;
}

.header__links-list-item {
  list-style: none;
}

.header__logo {
  align-items: center;
}

.header__logo-image {
  width: 137px;
  padding-bottom: 2px;
}

.header__address {
  line-height: 1.36;
  margin: auto;
  padding-left: 105px;
  padding-bottom: 5px;
}

.address {
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4px;
}

.cover {
  min-height: 757px;
  width: auto;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5)),
    url(../images/cover.jpg) center / cover;
  background-repeat: no-repeat;
}

.aligned-text {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  line-height: 1.35;
  padding: 155px 50px 0 50px;
}

.aligned-text_left {
  text-align: start;
  letter-spacing: 30px;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  justify-items: center;
  letter-spacing: 30px;
  text-align: center;
}

.aligned-text_right {
  display: flex;
  justify-content: right;
  letter-spacing: 30px;
  text-align: right;
}

.aligned-text_right-letter {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
  padding: 95px 50px 50px 50px;
  color: white;
}

.cover__description-text {
  display: flex;
  width: 637px;
  font-weight: 400;
  word-spacing: 18.5px;
  line-height: 28px;
}

.bet-button {
  padding: 12px 31px;
  width: 256px;
  text-transform: uppercase;
  color: white;
  background-color: transparent;
  border-style: none;
  border: 1px solid;
  border-color: white;
  font-family: "Raleway", sans-serif;
}

.lots {
  margin-top: 180px;
}

.lots__heading {
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 65px;
  padding-bottom: 27px;
}

.lots__card-list {
  margin: 0 24px 24px 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  row-gap: 24px;
  list-style: none;
  color: white;
}

.card__link {
  text-underline-offset: 3px;
  text-decoration: none;
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.card__text {
  text-transform: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__background {
  width: 334px;
  min-height: 596px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 170%;
}

.lots__card-film {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/card-lot-01.jpg);
}

.lots__card-book {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/card-lot-02.jpg);
}

.lots__card-painting {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5)), url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-offset: 5px;
  display: inline-block;
  font-size: 20px;
  margin-top: 5px;
  padding-left: 64px;
  text-decoration-thickness: 1px;
}

.about {
  margin: 120px 24px 0 24px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.about__logo {
  position: relative;
  width: 312px;
  margin-top: 35px;
  margin-left: 47px;
}

.about__logo-background {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  margin-top: 62px;
  margin-left: 46px;
  height: 117px;
  width: 148px;
}

.about__right-text {
  width: 693px;
}

.about__title {
  text-transform: uppercase;
  margin-top: 135px;
  font-size: 40px;
}

.about__text {
  margin-top: 100px;
  font-size: 20px;
  line-height: 24px;
}

.about__text-indent {
  margin-bottom: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  align-items: start;
  margin-top: 180px;
  margin-bottom: 85px;
}

.footer__address {
  line-height: 1.38;
}

.footer__links-list {
  padding-top: 1px;
  margin-left: 4px;
  font-size: 18px;
  place-items: center;
  line-height: 1.18;
  list-style: none;
}

.footer__links-list-item {
  list-style: none;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.links-active-link {
  text-decoration: none;
  list-style: none;
}

.footer__social-list-item {
  letter-spacing: 44px;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}

/*padding-left: 105px;
  padding-bottom: 5px;*/
